.logo-img {
    height: 50px;
    display: table;
    margin-bottom: 20px;
}

.logo {
    max-width: 50%;
    margin: 0 auto;
    display: table-row;
}

.main-container {
    margin-top: 20px;
}

/*overrides */
.container {
    padding-right: 50px;
    padding-left: 50px;
}